.Tagging-Screen {
    text-align: center
}

.Card {
    max-width: 800px;
    min-width: 800px;
    margin: auto;
    margin-bottom: 50px;

}

.Options {
    text-align: center;
    margin-top: 50px;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 10px;
}

.Options Button {
    margin: 10px;
}

.Selector { 
    margin-top: 10px;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 5px;
}

.Selector Button {
    margin: 10px;
}

.Teste {
    background-color: red;
}
/* if (this.state.CurrentIndex == this.state.NumberOfQuestions) {
    const CurrentIndex = this.state.CurrentIndex
    const isPopupOpen = true;
    const question = this.state.questions[CurrentIndex].question;
    const CurrentQuestionId = this.state.questions[CurrentIndex].id
    const questionText = this.state.questions[CurrentIndex].affirmations;
    this.setState({CurrentIndex, question, questionText, CurrentQuestionId, isPopupOpen});
} else {
    const CurrentIndex = this.state.CurrentIndex + 1
    const isPopupOpen = false;
    const question = this.state.questions[CurrentIndex].question;
    const CurrentQuestionId = this.state.questions[CurrentIndex].id
    const questionText = this.state.questions[CurrentIndex].affirmations;
    this.setState({CurrentIndex, question, questionText, CurrentQuestionId, isPopupOpen});
} */